/* normalize to have every browser follow same style but browsers have become very flexible so not
required*/


/* Universal Selector*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1. Setting font family in body so that child elements can inherit */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* means its 1.7 times bigger than predefined line height*/
    color: #777;
    padding: 30px;
}

.header {
    position: relative;
    height: 95vh; /* 95% of veiwport height , 100% means same as parent*/
    background-image: linear-gradient(to right bottom, #7fed61c5, #28b485c2) ,  url(../img/scenery.jpeg); 
    background-size: cover;
    background-position: center;
    /*clip-path*/
    clip-path: polygon(0 0,  100% 0, 100% 75vh , 0 100% );/*polygon(0 0 , 100% 0, 100% 75%, 0 100%);*/
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    height: 35px; /*width will be set automatically by browser*/
}
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
}
/*since span is an inline element like text, if we want it
to occupy the entire space available , we set display: block*/
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /* set the animation here */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation-delay: 0.5s;
        animation-iteration-count: 3; */
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.5px;
}

/*define the animation here*/

/* browsers are usually optimized for opacity and transform*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    } /*when the animation started*/
    100% {
        opacity: 1;
        tranform: translateX(0);
    } /*when the animation ended*/
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    } /*when the animation started*/
    100% {
        opacity: 1;
        tranform: translateX(0);
    } /*when the animation ended*/
}